$colors: (
  primary: (
    color: #52c163,
    on-color: #ffffff,
  ),
  secondary: (
    color: #ffa500,
    on-color: #ffffff,
  ),
  error: (
    color: #ff0000,
    on-color: #ffffff,
  ),
  info: (
    color: #0000ff,
    on-color: #ffffff,
  ),
  warning: (
    color: #ffff00,
    on-color: #000,
  ),
  gray: (
    color: #f2f2f2,
    on-color: #000,
  ),
);
